body{
    background-color:#0A3D62;
}
h1{
    color: white;
}
.button{
    background-color: #b31f37;
    border:none;
    color: white;
    padding:15px 30px;
    text-align: center;
    text-decoration: none;
    
}